<!--
    view: timetable.html
-->
<div>
    <!-- begin header -->
    <div data-ng-include="'templates/header.html'"></div>
    <!-- end header -->
    <div class="p2">
        <div class="container">
            <table class="table-light">
                <thead>
                    <tr>
                        <th></th><th>Friend</th><th>Match</th><th></th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="avatar" style="background-image:url(http://i4.istockimg.com/file_thumbview_approve/65934879/5/stock-photo-65934879-portrait-of-a-young-japanese-man-looking-at-camera.jpg)"></div></td>
                        <td class="lowercase">Hansemand25</td>
                        <td class="col-6">
                            <div class="bg-grey" style="height:5px;">
                                <div class="bg-green col-8" style="height:5px;"></div>
                            </div>
                        </td>
                        <td><i class="material-icons red">clear</i></td>
                    </tr>
                    <tr>
                        <td><div class="avatar" style="background-image:url(http://i.istockimg.com/file_thumbview_approve/60182996/3/stock-photo-60182996-real-man-portrait.jpg)"></div></td>
                        <td class="lowercase">Karsten21</td>
                        <td class="col-6">
                            <div class="bg-grey" style="height:5px;">
                                <div class="bg-red col-3" style="height:5px;"></div>
                            </div>
                        </td>
                        <td><i class="material-icons red">clear</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
